:root {
  --bs-purple-custom: rgb(83, 56, 158);
  --bs-purple-light: rgb(127, 86, 217);
}

.bg-purple {
  background-color: var(--bs-purple-custom) !important;
}

.text-purple {
  color: var(--bs-purple-custom) !important;
}

.btn-purple {
  background-color: var(--bs-purple-light) !important;
  color: #fff !important;
  border: none;
}